<div class='container  pl-5 pr-5 pt-3 pb-1'>
  <div class='container pl-5 pr-5 pt-1 pb-1'>
    <div class='container  pl-5 pr-5 pt-1 pb-1'>
      <div class='container  pl-5 pr-5 pt-1 pb-1'>
        <% @blogs.each do |blog| %>
          <h1><%= blog.title %></h1>
          <h5><%= blog.description %></h5>
          Created by <%= blog.user.full_name %>, <%= blog.created_at %><br><br><br>
          <div class='container border border-primary'>
            <%= blog.body %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>