<nav class="navbar navbar-expand-lg navbar-light p-4" style='background-color: grey'>
  <div class="container-fluid">
    <%= link_to 'Administrator', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% admin_button_routes.each do |name, route| %>
          <li class="nav-item">
            <%= link_to name, route, class: 'nav-link ps-3' %>
          </li>
        <% end %>
      </ul>
      <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
        <% if Current.user %>
          <li class="nav-item">
            <%= link_to 'My Account', account_path, class: 'nav-link ps-3' %>
          </li>
          <li class="nav-item">
            <%= button_to 'Logout', logout_path, method: :delete, class: 'nav-link ps-3' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to 'Login/Register', login_path, method: :get, class: 'nav-link ps-3' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>